/*
* Copyright (c) 2021 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Default_layer 0


/ {

    keymap {
        compatible = "zmk,keymap";

        Default_layer {
            bindings = <
&kp Q &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp Q  
&kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp Q &kp Q &kp Q  
&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp Q &kp Q &kp Q &kp Q &kp Q  
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q  
&kp Q &kp Q
            >;
        };


    };
};