/*
* Copyright (c) 2021 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define Default_layer 0

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        forty2thirty {
            bindings = <&tog 4>;
            key-positions = <11 23 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        planck_default {
            bindings = <
&kp TAB       &kp Q      &kp W         &kp E         &kp R      &kp T      &kp Y  &kp U  &kp I      &kp O    &kp P      &kp BSPC
&kp LCTRL     &kp A      &kp S         &kp D         &kp F      &kp G      &kp H  &kp J  &kp K      &kp L    &kp SEMI   &kp ENTER
&kp LSHIFT    &kp Z      &kp X         &kp C         &kp V      &kp B      &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp RSHIFT
&kp CAPSLOCK  &kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE  &kp SPACE  &mo 1  &mo 1  &lt 2 DEL  &kp Q    &kp Q      &lt 3 ESC
                                                                &kp SPACE  &mo 1
            >;
        };

        planck_num {
            bindings = <
&kp GRAVE  &kp N1     &kp N2     &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &trans
&trans     &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans     &trans     &trans     &trans    &trans    &trans    &trans    &trans    &trans  &trans     &trans  &trans
&trans     &trans     &trans     &trans    &trans    &trans    &trans    &trans    &trans  &trans     &trans  &trans
                                                     &trans    &trans
            >;
        };

        planck_f {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
                                          &trans  &trans
            >;
        };

        planck_dangerZone {
            bindings = <
&trans       &bt BT_SEL 1  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_CLR  &bt BT_CLR_ALL
&trans       &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans
&trans       &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans
&bootloader  &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans
                                                   &trans  &trans
            >;
        };

        thirty_default {
            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K      &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none      &none    &none     &none
                                   &none  &none
            >;
        };

        thirty_num {
            bindings = <
&kp GRAVE  &kp N1     &kp N2     &kp N3    &kp N4    &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans     &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans     &trans     &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans     &trans     &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                                     &trans    &trans
            >;
        };

        thirty_f {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
                                          &trans  &trans
            >;
        };
    };
};
